.your-infrastructure{
    background: url('../../assets/backgrounds/bg-features.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    .container{
        max-width: 75rem;
        margin-inline: auto;
    }
}