$color-primary: #0D0D2B;
$color-secondary: #2B076E;
$color-accent: #3671E9;

$color-white: #FFF;
$color-light-bg: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
$color-grey-6: #F2F2F2;
$color-grey-5: #E0E0E0;
$color-grey-4: #BDBDBD;
$color-grey-3: #828282;
